<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.sangjun.myapp">

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>

    <application
        android:name=".util.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".view.splash.SplashActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="sangjunkimdev.github.io" />
            </intent-filter>
        </activity>

        <activity android:name=".view.main.MainActivity"/>
        <activity android:name=".view.webview.WebViewActivity"/>
        <activity android:name=".view.autocompletetextview.AutoCompleteTextViewActivity"/>
        <activity android:name=".view.progressAndSeekBar.ProgressAndSeekBarActivity"/>
        <activity android:name=".view.actionbar.ActionbarActivity"
            android:label="액션바"
            android:theme="@style/AppTheme"/>
        <activity android:name=".view.CustomViewActivity"/>
        <activity android:name=".view.finger_print.FingerPrintActivity"/>



    </application>
</manifest>
